@page "/accounts/create"
@using Microsoft.EntityFrameworkCore
@using moneyzor.Entities
@inject IDbContextFactory<moneyzor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Account</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Account" OnValidSubmit="AddAccount" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Account.Name" class="form-control" /> 
                <ValidationMessage For="() => Account.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="balance" class="form-label">Balance:</label> 
                <InputNumber id="balance" @bind-Value="Account.Balance" class="form-control" /> 
                <ValidationMessage For="() => Account.Balance" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/accounts">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Account Account { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAccount()
    {
        using var context = DbFactory.CreateDbContext();
        context.Account.Add(Account);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/accounts");
    }
}
