@page "/transactioncategories/create"
@using Microsoft.EntityFrameworkCore
@using moneyzor.Entities
@inject IDbContextFactory<moneyzor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>TransactionCategory</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="TransactionCategory" OnValidSubmit="AddTransactionCategory" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="TransactionCategory.Name" class="form-control" /> 
                <ValidationMessage For="() => TransactionCategory.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/transactioncategories">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private TransactionCategory TransactionCategory { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTransactionCategory()
    {
        using var context = DbFactory.CreateDbContext();
        context.TransactionCategory.Add(TransactionCategory);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/transactioncategories");
    }
}
